<%= render 'shared/banner' %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12">

      <%= render 'shared/tabs' %>
      <h5>About <%= @user.first_name %></h5>

    </div>
  </div>
</div>
