<ul class="list-inline tabs-underlined">
  <li class="tab-underlined active">
    <a href="/users/<%= params[:id] %>" ><i class="fab fa-youtube"></i></a>
  </li>
  <li class="tab-underlined">
    <a href="/users/<%= params[:id] %>/audio"><i class="fas fa-music"></i></a>
  </li>
  <li class="tab-underlined">
    <a href="/users/<%= params[:id] %>/bio">About me</a>
  </li>

  <li class="tab-underlined">
    <a href="/users/<%= params[:id] %>/influences">Influences</a>
  </li>
</ul>
