a.btn.home {
  background-color: $primary;
  color: white;
  font-size: 20px;
  border-radius: 25px;
  padding: 8px 40px;
}

a.btn.profile {
  background-color: $primary;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  padding: 8px 30px;
}

.msg {
  padding-left: 0;
  padding-right: 0;
  width: 62px;
  font-size: 20px;
}
